.catalog__title {
  @include font-title ($fontSize: 36px,
  $lineHeight: 36px,
  $color: var(--basic_black));
  padding-top: 27px;
  padding-bottom: 41px;
}

.catalog__card {
  padding-top: 8px;
  padding-bottom: 11px;
  border-top: 1px solid var(--special_grey-2);
}

.catalog__wrap {
  display: flex;
  flex-direction: column;
}

.catalog__card-wrap {
  display: flex;
  padding-top: 11px;
  padding-bottom: 9px;
}

.catalog__card-image--small img {
  width: 68px;
  height: 86px;
}

.catalog__card-image--big img {
  width: 84px;
  height: 100px;
}

.catalog__card-image,
.product__info {
  width: 50%;
}

.catalog__card-image {
  text-align: center;
  padding: 14px 0 12px;
}

.product__info-title {
  @include font-title ($fontSize: 16px,
  $lineHeight: 20px,
  $color: var(--special_dark-grey-2));
  text-transform: uppercase;
  padding-right: 66px;
  margin-bottom: 18px;
}

.product__table {
  @include font-main ($fontSize: 12px,
  $lineHeight: 16px);
  width: 100%;
}

.product__table-name--value {
  text-align: end;
}

.product__button {
  @include font-title ($fontSize: 16px,
  $lineHeight: 20px,
  $color: var(--basic_white));
  padding: 10px;
  width: 100%;
  margin-bottom: 14px;
}

.product-more {
  padding-top: 17px;
  padding-bottom: 25px;
}

.product-more .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__card.product-more {
  border-bottom: 1px solid var(--special_grey-2);
}

.product-more__info-title {
  @include font-title ($fontSize: 16px,
  $lineHeight: 20px,
  $color: var(--special_dark));
  text-align: center;
  text-transform: uppercase;
  padding-top: 23px;
}

.product-more__info-text {
  @include font-main ($fontSize: 12px,
  $lineHeight: 16px);
  text-align: center;
  padding-top: 8px;
}

.product-more__button-addition {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.product-more__button-addition-mobile {
  display: block;
}

.product-more__button-addition-tablet {
  display: none;
}

.product-more__button {
  display: inline-block;
  margin-top: 21px;
  background-color: var(--basic_grey);
  color: var(--special_dark-grey);
  width: 100%;
  padding: 10px;

  &:hover {
    background-color: var(--special_grey-2);
  }

  &:active {
    background-color: var(--special_grey-2);
    color: rgba(68, 68, 68, 0.3);
  }
}

@media(min-width: $media-tablet) {
  .catalog {
    margin-bottom: -72px;
  }

  .catalog__title {
    @include font-title ($fontSize: 60px,
    $lineHeight: 60px);
    padding-top: 64px;
    padding-bottom: 163px;
  }

  .catalog__card {
    width: 50%;
    border-top: none;
    padding: 0 30px 141px;
  }

  .catalog__card .container {
    background-color: var(--basic_grey);
    padding: 0 30px;
  }

  .catalog__wrap {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__card-wrap {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 33px;
    position: relative;
    padding-top: 134px;
  }

  .catalog__card-image--small img {
    width: 161px;
    height: 172px;
  }

  .catalog__card-image--big img {
    width: 168px;
    height: 206px;
  }

  .catalog__card-image,
  .product__info {
    width: 100%;
  }

  .catalog__card-image {
    position: absolute;
    bottom: 60%;
  }

  .product__info-title {
    @include font-title ($fontSize: 20px,
    $lineHeight: 24px,
    $color: var(--special_dark-grey-2));
    padding-right: 0;
    text-align: center;
    width: 150px;
    margin: 0 auto 17px;
  }

  .product__table {
    @include font-main ($fontSize: 16px);
    border-collapse: collapse;
  }

  .product__table-name {
    border-bottom: 1px solid var(--special-grey);
    padding-top: 7px;
    padding-bottom: 9px;
  }

  .product__button {
    margin-bottom: 40px;
  }

  .product-more {
    padding-top: 0;
  }

  .product-more .container {
    background-color: transparent;
    border: 2px solid var(--basic_grey);
  }

  .catalog__card.product-more {
    border-bottom: none;
  }

  .product-more__info-title {
    width: 134px;
    margin: 0 auto;
    padding-top: 49px;
    padding-bottom: 23px;
  }

  .product-more__info-text {
    width: 167px;
    margin: 0 auto;
  }

  .product-more__button-addition {
    padding-top: 52px;
  }

  .product-more__button-addition-mobile {
    display: none;
  }

  .product-more__button-addition-tablet {
    display: block;
  }

  .product-more__button {
    margin-bottom: 39px;
    margin-top: 66px;
  }
}

@media(min-width: $media-desctop) {
  .catalog {
    margin-bottom: -64px;
  }

  .catalog__title {
    padding-top: 74px;
    padding-bottom: 165px;
  }

  .catalog__card {
    padding: 0 40px 144px;
    width: 25%;
  }

  .catalog__wrap {
    margin: 0 70px;
  }

  .product__info-title {
    @include font-title ($lineHeight: 24px,
    $color: var(--special_dark-grey-2));
  }

  .product-more__info-title {
    @include font-title ($fontSize: 20px,
    $lineHeight: 22px,
    $color: var(--special_dark));
  }

  .product-more__info-text {
    @include font-main ($fontSize: 16px,
    $lineHeight: 18px);
  }

  .product-more__button-addition {
    padding-top: 50px;
  }
}
