.promo {
  height: auto;
  position: relative;
  margin-bottom: 220px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url(../../img/promo-background-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 320px;
  }

  @media(min-width: 768px) {
    margin-bottom: 580px;

    &::after {
      content: none;
    }
  }

  @media(min-width: 1200px) {
    margin-bottom: 284px;

    &::after {
      content: '';
      top: -100px;
      max-width: 50%;
      margin-left: auto;
      background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url(../../img/promo-background-desktop.jpg);
      height: 694px;
    }
  }
}

.promo__wrapper {
  position: relative;
  z-index: 1;

  @media(min-width: 1200px) {
    width: 50%;
  }
}

.promo__title {
  font: normal 400 36px/36px 'Oswald';
  color: #ffffff;
  text-align: center;
  padding: 27px 35px 20px;

  @media(min-width: 768px) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    padding-top: 62px;
    padding-left: 117px;
    text-align: left;
  }
}

.promo__slogan {
  font: normal 400 14px/14px 'Oswald';
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 5px 60px 164px;

  @media(min-width: 768px) {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding: 21px 60px 63px 119px;
  }
}

.promo__img {
  position: absolute;
  width: 280px;
  left: 50%;
  top: 110%;
  transform: translate(-50%, -50%);

  @media(min-width: 768px) {
    width: 709px;
    z-index: -1;
    top: 187%;
  }

  @media(min-width: 1200px) {
    width: 552px;
    top: 0;
    left: 482px;
  }
}

.promo__button {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -206px;
  background-color: var(--basic_green);
  color: #ffffff;
  font: normal 400 14px/18px 'Oswald';
  text-transform: uppercase;
  text-align: center;
  padding: 7px 44px;

  @media(min-width: 768px) {
    position: static;
    margin-left: 120px;
    padding: 14px 26px;
  }

  @media(min-width: 1200px) {
    &:hover {
      background-color: var(--basic_green-hover);
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
