:root {
  --basic_green: #68B738;
  --basic_green-hover:#5EAA2F;
  --basic_grey: #F2F2F2;
  --basic_white:#FFFFFF;
  --basic_black: #000000;
  --special_dark: #111111;
  --special_dark-grey: #444444;
  --special_dark-grey-2: #222222;
  --special-grey: #CDCDCD;
  --special_grey-2: #EBEBEB;
  --special_grey-background: #EAEAEA;
  --special_grey-border: #E6E6E6;
  --special_grey-input: #E7E7E7;
  --special_grey-footerBorder: #D9D9D9;
  --status_error: #FF8282;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  margin: 0;
  position: relative;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

dd {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

fieldset {
  border: none;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 110px;
  }
}

.page-main {
  padding-top: 65px;
}
@media (min-width: 768px) {
  .page-main {
    padding-top: 0;
  }
}

.button {
  display: inline-block;
  background-color: var(--basic_green);
  color: var(--basic_white);
  text-transform: uppercase;
  text-align: center;
  font: normal 400 14px/18px "Oswald";
}
.button:hover {
  background-color: var(--basic_green-hover);
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../../fonts/oswaldmedium.woff") format("woff"), url("../../fonts/oswaldmedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../../fonts/oswaldregular.woff") format("woff"), url("../../fonts/oswaldregular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
.page-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 17px;
  background-color: var(--basic_white);
  z-index: 6;
  border-bottom: 1px solid var(--special_grey-2);
}
.page-header--home .page-header {
  border-bottom: none;
}

.page-header__logo:active {
  opacity: 0.6;
}
.page-header__logo .page-header__logo-img {
  width: 34px;
  height: 38px;
}
.page-header__logo .page-header__logo-text {
  position: absolute;
  width: 110px;
  height: 18px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.page-header__logo-tablet {
  display: none;
}

.main-nav__toggle {
  position: relative;
  z-index: 5;
  top: 0;
  right: 0;
  width: 24px;
  height: 18px;
  border: none;
  background-color: var(--basic_white);
}

.main-nav__toggle-close {
  display: none;
}

.main-nav__list {
  position: fixed;
  transform: translateY(-100%);
  transition: all ease-in 0.3s;
  top: 65px;
  left: 0;
  right: 0;
  background-color: var(--basic_white);
  opacity: 0;
}

.showMenu {
  transform: translateY(0);
  opacity: 1;
}

.site-list__item {
  width: 100%;
  text-align: center;
}

.site-list__link {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: var(--basic_black);
  display: block;
  padding: 22px 0 24px;
  border-top: 1px solid var(--special_grey-border);
  text-transform: uppercase;
}
.site-list__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.site-list__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-list__link--active {
  position: relative;
}

@media (min-width: 768px) {
  .page-header {
    padding: 24px 0 0 0;
    position: relative;
    border-bottom: none;
  }
  .page-header__logo {
    display: none;
  }
  .page-header__logo-tablet {
    display: block;
  }
  .page-header__logo-tablet:active {
    opacity: 0.6;
  }
  .page-header__logo-tablet .page-header__logo-tablet-img {
    width: 174px;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    position: relative;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    gap: 34px;
  }
  .site-list__item {
    width: auto;
  }
  .site-list__link {
    display: inline-block;
    border-top: none;
  }
  .site-list__link--active::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background-color: var(--basic_green);
  }
  .main-nav {
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .page-header {
    background-color: transparent;
  }
  .page-header__logo-tablet:hover {
    opacity: 0.8;
  }
  .main-nav__list {
    background-color: transparent;
  }
  .site-list__link {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: var(--basic_black);
  }
  .site-list--home .site-list__link {
    color: var(--basic_white);
  }
  .site-list--home .site-list__link:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  .site-list--home .site-list__link:active {
    color: rgba(255, 255, 255, 0.3);
  }
  .site-list--home .site-list__link--active::after {
    background-color: var(--basic_white);
  }
}
.promo {
  height: auto;
  position: relative;
  margin-bottom: 220px;
}
.promo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../../img/promo-background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 320px;
}

.promo__wrapper {
  position: relative;
  z-index: 1;
}

.promo__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic_white);
  text-align: center;
  padding: 27px 35px 20px;
}

.promo__slogan {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: var(--basic_white);
  text-transform: uppercase;
  text-align: center;
  padding: 5px 60px 164px;
}

.promo__img {
  position: absolute;
  width: 280px;
  left: 50%;
  top: 110%;
  transform: translate(-50%, -50%);
}

.promo__button {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic_white);
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -206px;
  background-color: var(--basic_green);
  text-transform: uppercase;
  text-align: center;
  padding: 7px 44px;
}

@media (min-width: 768px) {
  .promo {
    margin-bottom: 580px;
  }
  .promo::after {
    content: none;
  }
  .promo__title {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
    color: var(--basic_black);
    padding-top: 62px;
    padding-left: 117px;
    text-align: left;
  }
  .promo__slogan {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    color: var(--basic_black);
    text-align: left;
    padding: 21px 60px 63px 119px;
  }
  .promo__img {
    width: 709px;
    z-index: -1;
    top: 187%;
  }
  .promo__button {
    position: static;
    margin-left: 120px;
    padding: 14px 26px;
  }
}
@media (min-width: 1200px) {
  .promo {
    margin-bottom: 284px;
  }
  .promo::after {
    content: "";
    top: -100px;
    max-width: 50%;
    margin-left: auto;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../../img/promo-background-desktop.jpg);
    height: 694px;
  }
  .promo__wrapper {
    width: 50%;
  }
  .promo__img {
    width: 552px;
    top: 100%;
    left: 110%;
  }
  .promo__button:hover {
    background-color: var(--basic_green-hover);
  }
  .promo__button:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
.prime {
  padding-top: 60px;
}

.prime__content {
  background-color: var(--basic_grey);
  margin-bottom: 20px;
  padding: 30px 20px 18px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.prime__content::after {
  content: "";
  background: url("../../img/cat_pro.svg") center no-repeat;
  background-size: cover;
  position: absolute;
  width: 67px;
  height: 50px;
  top: 21px;
  left: 22px;
}

.prime__content--slim::after {
  background: url("../../img/cat_slim.svg") center no-repeat;
  background-size: cover;
  width: 50px;
  height: 53px;
  top: 24px;
  left: 13px;
}

.prime__content-title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  color: var(--basic_black);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
  padding-left: 71px;
}

.prime__content-description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--special_dark-grey);
  padding: 0 13px 23px 0;
  border-bottom: 1px solid var(--special_grey-footerBorder);
}

.prime__content-link {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: var(--basic_black);
  display: block;
  padding-top: 19px;
  text-transform: uppercase;
  position: relative;
  margin-top: auto;
}
.prime__content-link::after {
  content: "";
  position: absolute;
  background-image: url("../../img/arrow-link.svg");
  width: 32px;
  height: 10px;
  left: 100px;
  top: 50%;
  transform: translateY(50%);
}
.prime__content-link:hover::after {
  background-image: url("../../img/arrow-link-hover.svg");
}
.prime__content-link:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .prime__content {
    padding: 77px 316px 52px 53px;
    margin-bottom: 45px;
  }
  .prime__content::after {
    width: 268px;
    height: 200px;
    top: 91px;
    right: 28px;
    left: auto;
  }
  .prime__content--slim::after {
    width: 200px;
    height: 211px;
    top: 81px;
    right: 62px;
    left: auto;
  }
  .prime__content-title {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic_black);
    margin-bottom: 24px;
    padding-left: 0;
    text-align: left;
  }
  .prime__content-description {
    border: none;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 33px;
  }
  .prime__content-link {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: var(--basic_black);
  }
  .prime__content-link::after {
    left: 115px;
  }
}
@media (min-width: 1200px) {
  .prime {
    padding-top: 82px;
    display: grid;
    column-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
  .prime__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .prime__content {
    padding: 77px 51px 55px 52px;
    margin-bottom: 71px;
    height: 100%;
  }
  .prime__content::after {
    width: 134px;
    height: 100px;
    top: 47px;
    left: 33px;
    right: auto;
  }
  .prime__content--slim::after {
    width: 100px;
    height: 106px;
    top: 41px;
    left: 52px;
    right: auto;
  }
  .prime__content-title {
    padding-left: 162px;
    margin-bottom: 73px;
  }
  .prime__content-description {
    padding-bottom: 23px;
    font-size: 16px;
    line-height: 24px;
  }
}
.advantages {
  padding-bottom: 49px;
}

.advantages__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  color: var(--basic_black);
  margin-bottom: 40px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advantages__item {
  position: relative;
  margin-bottom: 20px;
}
.advantages__item:last-child {
  margin-bottom: 0;
}
.advantages__item::before {
  content: "";
  position: absolute;
}

.advantages__item-box {
  display: block;
  background-color: var(--basic_green);
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 1;
}

.advantages__item-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advantages__item--leaf::before {
  content: "1";
}

.advantages__item--tub::before {
  content: "2";
}

.advantages__item--eat::before {
  content: "3";
}

.advantages__item--alarm::before {
  content: "4";
}

.advantages__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--special_dark-grey);
  padding-left: 80px;
  min-height: 60px;
}

@media (min-width: 768px) {
  .advantages {
    padding-bottom: 47px;
  }
  .advantages__title {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
    color: var(--basic_black);
    margin-bottom: 32px;
  }
  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .advantages__item {
    width: 35%;
    min-height: 280px;
    margin-bottom: 37px;
    margin-right: 10%;
  }
  .advantages__item::before {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 280px;
    line-height: 280px;
    color: var(--basic_grey);
    z-index: -1;
    top: 0;
    right: 0;
  }
  .advantages__item-box {
    width: 80px;
    height: 80px;
    top: 40px;
  }
  .advantages__description {
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--special_dark-grey);
    padding-left: 0;
    padding-top: 151px;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    flex-wrap: nowrap;
  }
  .advantages__item {
    width: 25%;
    margin-right: 5%;
    margin-bottom: 26px;
  }
  .advantages__item:last-child {
    margin-right: 0;
    margin-bottom: 26px;
  }
}
.example {
  background: var(--special_grey-background);
  padding-top: 25px;
}

.example__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  color: var(--basic_black);
  margin-bottom: 40px;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
}

.example__wrapper .container {
  width: 100%;
}

.example__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--special_dark-grey);
  padding-bottom: 20px;
}

.example__inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  width: 100%;
}

.example__list {
  display: flex;
  flex-direction: column;
}

.example__list-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -16px 20px;
}

.example__item--border {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
  width: 50%;
  border: 1px solid var(--special-grey);
  border-radius: 3px;
  position: relative;
}

.example__item--border .example__term {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: var(--basic_black);
  text-align: center;
  padding: 15px;
}

.example__item--border .example__definition {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: var(--special_dark-grey);
  text-transform: lowercase;
  text-align: center;
  position: absolute;
  left: auto;
  right: auto;
  top: calc(100% - 5px);
  background-color: var(--special_grey-background);
  padding: 0 10px;
}

.example__item--cost {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.example__item--cost .example__term,
.example__item--cost .example__definition {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic_black);
  text-transform: uppercase;
}

.example__item--cost .example__definition {
  padding-left: 5px;
}

.slider__switcher {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 40px;
}
.slider__switcher::after {
  position: absolute;
  content: "";
  width: 86px;
  height: 14px;
  border: 1px solid var(--special-grey);
  border-radius: 6px;
  background-color: var(--basic_white);
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

.slider__switcher-toggle {
  position: relative;
  width: 36px;
  height: 6px;
  background: var(--basic_green);
  border-radius: 6px;
  z-index: 2;
}

.slider__input {
  display: none;
}

.slider__toggle {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic_black);
  position: relative;
  text-transform: uppercase;
}
.slider__toggle::before {
  content: "";
  position: absolute;
}

.slider__toggle-befor {
  margin-right: 56px;
}

.slider__toggle-after {
  margin-left: 56px;
}

#toggle-befor:checked ~ .slider__switcher .slider__switcher-toggle {
  left: -18px;
}

#toggle-after:checked ~ .slider__switcher .slider__switcher-toggle {
  right: -21px;
}

.slider-image {
  position: relative;
  width: 280px;
  height: 232px;
  margin: 0 auto;
}

.slider-image__example {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.slider-image__example img {
  width: 100%;
  height: 100%;
  position: absolute;
}

#toggle-befor:checked ~ .slider-image .slider-image__example--befor,
#toggle-after:checked ~ .slider-image .slider-image__example--after {
  display: block;
}

#toggle-befor ~ .slider-image .slider-image__example--befor,
#toggle-after ~ .slider-image .slider-image__example--after {
  display: none;
}

@media (min-width: 768px) {
  .example {
    padding-top: 43px;
    background: transparent;
    border-top: 1px solid var(--special_grey-border);
  }
  .example__title {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
    color: var(--basic_black);
    margin-bottom: 36px;
  }
  .example__description {
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--special_dark-grey);
    padding-bottom: 54px;
  }
  .example__inner {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 250px;
  }
  .example__list {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .example__list-wrap {
    width: 50%;
    margin: 0 0 20px 0;
  }
  .example__item--border {
    margin: 0 11% 0 0;
  }
  .example__item--border .example__term {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 37px;
    color: var(--basic_black);
  }
  .example__item--border .example__definition {
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: var(--special_dark-grey);
    background-color: var(--basic_white);
    padding: 0 5px;
  }
  .example__item--cost {
    width: 50%;
    flex-direction: column;
    align-items: flex-end;
  }
  .example__item--cost .example__term,
  .example__item--cost .example__definition {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    color: var(--basic_black);
  }
  .example__item--cost .example__definition {
    padding-top: 9px;
  }
  .example__slider {
    background: var(--special_grey-background);
  }
  .example__slider .container {
    margin-top: -170px;
  }
  .slider__switcher {
    margin-bottom: 55px;
  }
  .slider__switcher::after {
    width: 426px;
    height: 6px;
    background-color: var(--special-grey);
    border: none;
  }
  .slider__switcher-toggle {
    right: 50%;
    transform: translateX(50%);
    border-radius: 50%;
    border: 13px solid var(--basic_white);
    width: 34px;
    height: 34px;
    background: var(--basic_green);
    cursor: pointer;
    padding: 0;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
  }
  .slider__toggle {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: var(--basic_black);
  }
  .slider__toggle::before {
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--basic_black);
    border-image: repeating-linear-gradient(to left, transparent, transparent 1px, var(--basic_black) 1px, var(--basic_black) 2px) 1;
    opacity: 0.24;
  }
  .slider__toggle::before:hover::after {
    background-image: repeating-linear-gradient(to left, var(--basic_black) 1px, var(--basic_black) 2px);
    opacity: 1;
  }
  .slider__toggle-befor {
    margin-right: 226px;
  }
  .slider__toggle-after {
    margin-left: 226px;
  }
  #toggle-after:checked ~ .slider__switcher .slider__switcher-toggle {
    right: 0;
  }
  .slider-image {
    width: 592px;
    height: 511px;
  }
  .slider-image__example {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .slider-image__example img {
    width: auto;
    height: 100%;
    max-width: none;
  }
  .slider-image__example--befor {
    left: 0;
    display: block;
  }
  .slider-image__example--after {
    right: 0;
    display: block;
  }
  .slider-image__example--befor img {
    top: 0;
    left: 0;
  }
  .slider-image__example--after img {
    top: 0;
    right: 0;
  }
  #toggle-befor ~ .slider-image .slider-image__example--befor,
  #toggle-after ~ .slider-image .slider-image__example--after {
    display: block;
  }
}
@media (min-width: 1200px) {
  .example {
    padding-top: 69px;
    border-top: none;
  }
  .example__title {
    margin-bottom: 76px;
  }
  .example__wrapper {
    background: var(--basic_grey);
    display: flex;
    flex-direction: row;
    padding: 70px 0 69px;
    position: relative;
  }
  .example__description {
    padding-bottom: 69px;
    width: 436px;
  }
  .example__inner {
    width: 436px;
    margin-bottom: 0;
  }
  .example__list-wrap {
    width: 100%;
    margin: 0 0 55px 0;
  }
  .example__item--border .example__definition {
    background-color: var(--basic_grey);
  }
  .example__item--cost {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .example__item--cost .example__definition {
    padding-top: 0;
    padding-left: 63px;
  }
  .example__slider {
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
  }
  .example__slider .container {
    margin-top: -179px;
  }
}
.page-footer {
  background-color: var(--basic_grey);
}

.page-footer__contacts {
  position: relative;
}

.contacts__map {
  overflow: hidden;
  position: relative;
  top: -20px;
  margin-top: 112px;
  height: 362px;
}
.contacts__map::after {
  content: "";
  position: absolute;
  background: url(../../img/map-pin.png) no-repeat center;
  width: 57px;
  height: 53px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
@media (min-width: 768px) {
  .contacts__map::after {
    background: url(../../img/map-pin-tablet.png) no-repeat center;
    width: 113px;
    height: 106px;
  }
}
@media (min-width: 768px) {
  .contacts__map {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .contacts__map {
    margin-top: 0;
  }
}

.contacts__map img {
  object-fit: cover;
}

.contacts .container {
  background-color: var(--basic_grey);
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  position: absolute;
  top: -112px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts .container {
    padding: 56px 70px;
  }
}
@media (min-width: 1200px) {
  .contacts .container {
    padding: 56px 80px;
    width: 565px;
    top: 95px;
    left: 110px;
    background-color: var(--basic_white);
  }
}

.contacts__text {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--special_dark);
  text-transform: uppercase;
  margin-right: 2px;
  width: 50%;
}
@media (min-width: 768px) {
  .contacts__text {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    color: var(--special_dark);
    text-align: left;
    margin-right: 148px;
  }
}
@media (min-width: 1200px) {
  .contacts__text {
    margin-right: 43px;
  }
}

.contacts__address {
  font: normal 400 14px/20px "Arial";
  color: var(--special_dark-grey);
  width: 50%;
}
@media (min-width: 768px) {
  .contacts__address {
    font-size: 16px;
    text-align: right;
    margin-left: 148px;
  }
}
@media (min-width: 1200px) {
  .contacts__address {
    text-align: left;
    margin-left: 43px;
  }
}

.page-footer__social .container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-footer__social .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 55px;
  }
}

.social__logo {
  display: flex;
  justify-content: center;
  padding: 39px 76px 32px;
}
.social__logo img {
  width: 128px;
  height: 24px;
}
@media (min-width: 768px) {
  .social__logo {
    padding: 0;
  }
  .social__logo:hover {
    opacity: 0.8;
  }
  .social__logo:active {
    opacity: 0.6;
  }
}

.social__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 77px 21px 73px;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .social__list {
    border-top: none;
    border-bottom: none;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .social__link-vk svg {
    width: 30px;
    height: 22px;
  }
}

@media (min-width: 768px) {
  .social__link-instagram svg {
    width: 23px;
    height: 23px;
    margin-left: 27px;
    margin-right: 21px;
  }
}

@media (min-width: 768px) {
  .social__link-fb svg {
    width: 28px;
    height: 33px;
  }
}

.social__link-vk:hover svg,
.social__link-instagram:hover svg,
.copyright__link:hover svg {
  fill: var(--basic_green);
}

.social__link-vk:active svg,
.social__link-instagram:active svg,
.copyright__link:active svg {
  fill: var(--basic_green);
  opacity: 0.3;
}

.social__link-fb:hover svg {
  stroke: var(--basic_green);
}

.social__link-fb:active svg {
  stroke: var(--basic_green);
  opacity: 0.3;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  font: normal 400 16px/18px "Arial";
  color: var(--special_dark-grey);
}
@media (min-width: 768px) {
  .copyright__link {
    padding: 0;
  }
  .copyright__link:hover {
    opacity: 0.8;
  }
  .copyright__link:active {
    opacity: 0.6;
  }
}

@media (min-width: 768px) {
  .copyright__link svg {
    margin-left: 22px;
  }
}

.catalog__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic_black);
  padding-top: 27px;
  padding-bottom: 41px;
}

.catalog__card {
  padding-top: 8px;
  padding-bottom: 11px;
  border-top: 1px solid var(--special_grey-2);
}

.catalog__wrap {
  display: flex;
  flex-direction: column;
}

.catalog__card-wrap {
  display: flex;
  padding-top: 11px;
  padding-bottom: 9px;
}

.catalog__card-image--small img {
  width: 68px;
  height: 86px;
}

.catalog__card-image--big img {
  width: 84px;
  height: 100px;
}

.catalog__card-image,
.product__info {
  width: 50%;
}

.catalog__card-image {
  text-align: center;
  padding: 14px 0 12px;
}

.product__info-title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--special_dark-grey-2);
  text-transform: uppercase;
  padding-right: 66px;
  margin-bottom: 18px;
}

.product__table {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--special_dark-grey);
  width: 100%;
}

.product__table-name--value {
  text-align: end;
}

.product__button {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic_white);
  padding: 10px;
  width: 100%;
  margin-bottom: 14px;
}

.product-more {
  padding-top: 17px;
  padding-bottom: 25px;
}

.product-more .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__card.product-more {
  border-bottom: 1px solid var(--special_grey-2);
}

.product-more__info-title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--special_dark);
  text-align: center;
  text-transform: uppercase;
  padding-top: 23px;
}

.product-more__info-text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--special_dark-grey);
  text-align: center;
  padding-top: 8px;
}

.product-more__button-addition {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.product-more__button-addition-mobile {
  display: block;
}

.product-more__button-addition-tablet {
  display: none;
}

.product-more__button {
  display: inline-block;
  margin-top: 21px;
  background-color: var(--basic_grey);
  color: var(--special_dark-grey);
  width: 100%;
  padding: 10px;
}
.product-more__button:hover {
  background-color: var(--special_grey-2);
}
.product-more__button:active {
  background-color: var(--special_grey-2);
  color: rgba(68, 68, 68, 0.3);
}

@media (min-width: 768px) {
  .catalog {
    margin-bottom: -72px;
  }
  .catalog__title {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
    color: var(--basic_black);
    padding-top: 64px;
    padding-bottom: 163px;
  }
  .catalog__card {
    width: 50%;
    border-top: none;
    padding: 0 30px 141px;
  }
  .catalog__card .container {
    background-color: var(--basic_grey);
    padding: 0 30px;
  }
  .catalog__wrap {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .catalog__card-wrap {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 33px;
    position: relative;
    padding-top: 134px;
  }
  .catalog__card-image--small img {
    width: 161px;
    height: 172px;
  }
  .catalog__card-image--big img {
    width: 168px;
    height: 206px;
  }
  .catalog__card-image,
  .product__info {
    width: 100%;
  }
  .catalog__card-image {
    position: absolute;
    bottom: 60%;
  }
  .product__info-title {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: var(--special_dark-grey-2);
    padding-right: 0;
    text-align: center;
    width: 150px;
    margin: 0 auto 17px;
  }
  .product__table {
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--special_dark-grey);
    border-collapse: collapse;
  }
  .product__table-name {
    border-bottom: 1px solid var(--special-grey);
    padding-top: 7px;
    padding-bottom: 9px;
  }
  .product__button {
    margin-bottom: 40px;
  }
  .product-more {
    padding-top: 0;
  }
  .product-more .container {
    background-color: transparent;
    border: 2px solid var(--basic_grey);
  }
  .catalog__card.product-more {
    border-bottom: none;
  }
  .product-more__info-title {
    width: 134px;
    margin: 0 auto;
    padding-top: 49px;
    padding-bottom: 23px;
  }
  .product-more__info-text {
    width: 167px;
    margin: 0 auto;
  }
  .product-more__button-addition {
    padding-top: 52px;
  }
  .product-more__button-addition-mobile {
    display: none;
  }
  .product-more__button-addition-tablet {
    display: block;
  }
  .product-more__button {
    margin-bottom: 39px;
    margin-top: 66px;
  }
}
@media (min-width: 1200px) {
  .catalog {
    margin-bottom: -64px;
  }
  .catalog__title {
    padding-top: 74px;
    padding-bottom: 165px;
  }
  .catalog__card {
    padding: 0 40px 144px;
    width: 25%;
  }
  .catalog__wrap {
    margin: 0 70px;
  }
  .product__info-title {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--special_dark-grey-2);
  }
  .product-more__info-title {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    color: var(--special_dark);
  }
  .product-more__info-text {
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--special_dark-grey);
  }
  .product-more__button-addition {
    padding-top: 50px;
  }
}
.additional-product {
  margin-top: 25px;
}
.additional-product .container {
  display: flex;
  flex-direction: column;
}

.additional-product__title-wrap {
  position: relative;
}
.additional-product__title-wrap::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--basic_green);
  top: 50%;
  left: 0;
  z-index: -1;
}

.additional-product__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: var(--basic_black);
  width: 268px;
  background-color: var(--basic_white);
  text-align: center;
  margin-bottom: 36px;
}

.additional-product__wrap {
  border-top: 1px solid var(--special-grey);
  width: 100%;
}

.additional-product-card {
  border-bottom: 1px solid var(--special-grey);
  padding: 13px 0 19px;
  display: flex;
  flex-direction: column;
}

.product-card__wrap {
  display: flex;
  flex-direction: column;
}

.product-card__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: var(--special_dark-grey-2);
  text-transform: uppercase;
  padding-bottom: 13px;
}

.product-card__table {
  width: 100%;
}

.product-card__table-name {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--special_dark-grey);
}

.product-card__table-name--value {
  text-align: end;
  width: 20%;
}

.product-card__button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
}

.additional-product__action {
  position: relative;
  margin-bottom: 35px;
}
.additional-product__action::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../../img/action-mobile-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 289px;
  z-index: -1;
}

.additional-product__action-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 60px 43px;
}
.additional-product__action-wrap svg {
  margin: 59px 0 48px;
}

.additional-product__action-info {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic_white);
  text-align: center;
}

@media (min-width: 768px) {
  .additional-product {
    margin-top: 0;
  }
  .additional-product__title {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 14px;
    color: var(--basic_black);
    width: 411px;
    margin-left: 30px;
    margin-bottom: 80px;
  }
  .additional-product__wrap {
    margin-bottom: 69px;
  }
  .additional-product-card {
    padding: 26px 38px 28px;
    border-left: 1px solid var(--special-grey);
    border-right: 1px solid var(--special-grey);
  }
  .product-card__wrap {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .product-card__title {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    color: var(--basic_black);
    width: 50%;
    padding-bottom: 0;
  }
  .product-card__table {
    width: 50%;
    text-align: end;
  }
  .product-card__table-name {
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--special_dark-grey);
  }
  .product-card__button {
    margin-top: 23px;
  }
  .additional-product__action::after {
    height: 200px;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../../img/action-tablet.jpg);
  }
  .additional-product__action-wrap {
    flex-direction: row;
    justify-content: space-between;
    padding: 57px 124px 63px 77px;
  }
  .additional-product__action-wrap svg {
    margin: 0;
  }
  .additional-product__action-info {
    text-align: start;
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .additional-product .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .additional-product__title {
    width: 413px;
    margin-left: 70px;
    margin-bottom: 81px;
  }
  .additional-product__wrap {
    width: 74%;
    margin-bottom: 86px;
  }
  .additional-product-card {
    border-left: none;
    border-right: none;
    padding: 15px 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .product-card__wrap {
    width: 71%;
  }
  .product-card__table-name {
    text-align: start;
    padding-left: 10px;
  }
  .product-card__button {
    width: 29%;
    margin-left: 38px;
    margin-top: 0;
  }
  .additional-product__action {
    width: 21%;
    margin-bottom: 0;
  }
  .additional-product__action::after {
    height: 289px;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../../img/action-mobile-desktop.jpg);
  }
  .additional-product__action-wrap {
    flex-direction: column;
    justify-content: center;
    padding: 0 42px;
  }
  .additional-product__action-wrap svg {
    margin: 56px 0 47px;
  }
  .additional-product__action-info {
    width: 100%;
    text-align: center;
  }
}
.program-selection__title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic_black);
  padding-top: 27px;
  padding-bottom: 37px;
}

.program-selection__info {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic_black);
  margin-bottom: 39px;
  text-transform: uppercase;
}

.form__wrap-section {
  display: flex;
  flex-direction: column;
}

.form__wrap-name {
  margin-bottom: 27px;
}

.form__wrap-name-row {
  display: flex;
  align-items: center;
}
.form__wrap-name-row:not(:last-of-type) {
  margin-bottom: 10px;
}

.form__data {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--special_dark-grey);
  text-transform: uppercase;
  margin-right: 13px;
  flex-shrink: 0;
}

.form__data-value {
  padding: 13px 14px;
  border: 1px solid var(--special_grey-input);
  flex-grow: 1;
}
.form__data-value:hover {
  border-color: var(--special-grey);
}
.form__data-value:focus {
  border: 2px solid var(--special_dark-grey);
  outline: none;
}

.form__data-value::placeholder {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--special_dark-grey);
  text-transform: uppercase;
}

.form__wrap-radiobutton {
  border-top: 1px solid var(--special_grey-footerBorder);
  border-bottom: 1px solid var(--special_grey-footerBorder);
  padding: 25px;
  margin: 0 -20px;
}

.form__wrap-radiobutton-text {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--special_dark-grey-2);
  text-transform: uppercase;
  margin-left: 45px;
}

.form__wrap-radiobutton-label {
  display: block;
}

.form__wrap-radiobutton-text {
  display: block;
  position: relative;
}
.form__wrap-radiobutton-text::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid var(--special-grey);
  border-radius: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  left: -60px;
}
.form__wrap-radiobutton-text::after {
  display: none;
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: var(--basic_green);
  border-radius: 50%;
  top: 50%;
  left: -44px;
  transform: translate(50%, -50%);
}

.form__wrap-radiobutton-choice:checked + .form__wrap-radiobutton-text::after {
  display: block;
}

.form__wrap-radiobutton-choice:disabled + .form__wrap-radiobutton-text::after,
.form__wrap-radiobutton-choice:disabled + .form__wrap-radiobutton-text {
  display: block;
  opacity: 0.3;
}

.form__wrap-email {
  margin-top: 26px;
}

.form__wrap-name-contact {
  position: relative;
}

.form__wrap-name-contact .form__data-value:focus + .form__data-icon-email {
  stroke: var(--basic_green);
}

.form__wrap-name-contact .form__data-value:focus + .form__data-icon-phone {
  fill: var(--basic_green);
}

.form__data-icon-email {
  position: absolute;
  right: 15px;
}

.form__data-icon-phone {
  position: absolute;
  right: 13px;
}

.form__wrap-title {
  position: relative;
}
.form__wrap-title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--basic_green);
  top: 50%;
  left: 0;
  z-index: -1;
}

.form__wrap-legend-title {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  color: var(--basic_black);
  width: 227px;
  background-color: var(--basic_white);
  margin-bottom: 36px;
  padding: 0 20px;
}

.form__wrap-comment .form__wrap-legend-title {
  width: 161px;
  margin-top: 23px;
}

.form__wrap-comment-text {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--special_dark-grey);
  text-transform: uppercase;
  border: 1px solid var(--special_grey-input);
  width: 100%;
  height: 150px;
  resize: none;
  padding: 9px 15px;
}
.form__wrap-comment-text:focus {
  border: 2px solid var(--special_dark-grey);
  outline: none;
}

.form__wrap-additionally .form__wrap-legend-title {
  width: 181px;
  margin-top: 23px;
}

.form__wrap-additionally-content {
  display: flex;
  flex-direction: column;
}

.form__wrap-additionally-text {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic_black);
  display: block;
  position: relative;
  padding-left: 46px;
  text-transform: uppercase;
}
.form__wrap-additionally-text::before {
  content: "";
  position: absolute;
  border: 1px solid var(--special-grey);
  width: 30px;
  height: 30px;
  left: -16px;
  top: 50%;
  transform: translate(50%, -50%);
}

.form__wrap-additionally-label {
  margin-bottom: 20px;
  position: relative;
}

.form__wrap-additionally-checked {
  display: none;
}

.form__wrap-additionally-choice:checked + .form__wrap-additionally-checked {
  display: block;
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translate(50%, -50%);
}

.form__wrap-additionally-choice:disabled + .form__wrap-additionally-checked {
  display: block;
  opacity: 0.3;
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translate(50%, -50%);
}

.form__wrap-additionally-choice:disabled ~ .form__wrap-additionally-text {
  opacity: 0.3;
}

.form__wrap-additionally-submit {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  margin-bottom: 21px;
}

.form__button {
  width: 100%;
  padding: 14px;
  border: none;
  font-size: 16px;
  line-height: 20px;
}

.form__info {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic_black);
  text-align: center;
  margin-top: 21px;
}

@media (min-width: 768px) {
  .program-selection .container {
    padding: 0 70px;
  }
  .program-selection__title {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
    color: var(--basic_black);
    padding-top: 65px;
    padding-bottom: 54px;
  }
  .program-selection__info {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: var(--basic_black);
    margin-bottom: 66px;
    width: 50%;
  }
  .form__wrap-name {
    margin-bottom: 72px;
  }
  .form__wrap-name-row:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .form__data {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: var(--special_dark-grey);
  }
  .form__wrap-radiobutton {
    border: 1px solid var(--special_grey-footerBorder);
    margin: 0;
  }
  .form__wrap-radiobutton-text {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: var(--special_dark-grey);
    margin-left: 60px;
  }
  .form__wrap-radiobutton-text::before {
    width: 40px;
    height: 40px;
    left: -80px;
  }
  .form__wrap-radiobutton-text::after {
    width: 18px;
    height: 18px;
    left: -58px;
  }
  .form__wrap-email {
    margin-top: 71px;
  }
  .form__data-icon-email {
    right: 19px;
  }
  .form__data-icon-phone {
    right: 16px;
  }
  .form__wrap-legend-title {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic_black);
    width: 592px;
    padding: 0 40px;
    margin-left: 30px;
  }
  .form__wrap-comment .form__wrap-legend-title {
    width: 242px;
    margin-top: 65px;
  }
  .form__wrap-additionally-content {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form__wrap-comment-text {
    padding: 10px 19px;
    height: 174px;
  }
  .form__wrap-additionally .form__wrap-legend-title {
    width: 271px;
    margin-top: 65px;
  }
  .form__wrap-additionally-text {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 18px;
    color: var(--basic_black);
    line-height: normal;
    padding-left: 59px;
  }
  .form__wrap-additionally-text::before {
    width: 40px;
    height: 40px;
    left: -19px;
  }
  .form__wrap-additionally-label {
    width: 50%;
  }
  .form__wrap-additionally-choice:checked + .form__wrap-additionally-checked {
    left: -5px;
  }
  .form__wrap-additionally-choice:disabled + .form__wrap-additionally-checked {
    left: -5px;
  }
  .form__wrap-additionally-submit {
    flex-direction: row;
    margin-top: 54px;
    margin-bottom: 61px;
  }
  .form__button {
    width: 40%;
    font-size: 20px;
  }
  .form__info {
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--basic_black);
    width: 50%;
    padding: 14px;
    text-align: left;
    margin-left: 80px;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .program-selection .container {
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
  }
  .program-selection__title {
    padding-top: 74px;
    padding-bottom: 56px;
  }
  .program-selection__info {
    margin-bottom: 56px;
  }
  .form__wrap-section {
    flex-direction: row;
    align-items: center;
  }
  .form__wrap-name {
    width: 50%;
    margin: 0;
  }
  .form__wrap-radiobutton {
    width: 50%;
    margin-left: 80px;
  }
  .form__wrap-email {
    margin-top: 69px;
  }
  .form__wrap-name-contact {
    width: 47%;
  }
  .form__wrap-legend-title {
    margin-left: 70px;
  }
  .form__wrap-comment .form__wrap-legend-title {
    width: 262px;
    margin-top: 69px;
  }
  .form__wrap-additionally .form__wrap-legend-title {
    width: 291px;
    margin-top: 69px;
  }
  .form__wrap-additionally-label {
    width: 25%;
  }
  .form__wrap-additionally-submit {
    margin-top: 61px;
    margin-bottom: 72px;
  }
}
/*# sourceMappingURL=style.css.map */