:root {
  --basic_green: #68B738;
  --basic_green-hover:#5EAA2F;
  --basic_grey: #F2F2F2;
  --special_dark-grey: #444444;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: 1px solid red;
}

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  position: relative;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

dd {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0rem;
}

p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 110px;
  }
}

.page-main {
  padding-top: 65px;
}
@media (min-width: 768px) {
  .page-main {
    padding-top: 0;
  }
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../../fonts/oswaldmedium.woff") format("woff"), url("../../fonts/oswaldmedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../../fonts/oswaldregular.woff") format("woff"), url("../../fonts/oswaldregular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
.page-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 17px;
  background-color: #ffffff;
  z-index: 6;
}
@media (min-width: 768px) {
  .page-header {
    padding: 24px 0 0 0;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .page-header {
    background-color: transparent;
  }
}

.page-header__logo:active {
  opacity: 0.6;
}
.page-header__logo .page-header__logo-img {
  width: 34px;
  height: 38px;
}
.page-header__logo .page-header__logo-text {
  position: absolute;
  width: 110px;
  height: 18px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .page-header__logo {
    display: none;
  }
}

.page-header__logo-tablet {
  display: none;
}
@media (min-width: 768px) {
  .page-header__logo-tablet {
    display: block;
  }
  .page-header__logo-tablet:active {
    opacity: 0.6;
  }
  .page-header__logo-tablet .page-header__logo-tablet-img {
    width: 174px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo-tablet:hover {
    opacity: 0.8;
  }
}

.main-nav__toggle {
  position: relative;
  z-index: 5;
  top: 0;
  right: 0;
  width: 24px;
  height: 18px;
  border: none;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__toggle-close {
  display: none;
}

.main-nav__list {
  position: fixed;
  transform: translateY(-100%);
  transition: all ease-in 0.3s;
  top: 65px;
  left: 0;
  right: 0;
  background-color: #ffffff;
  opacity: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    position: relative;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    gap: 34px;
  }
}
@media (min-width: 1200px) {
  .main-nav__list {
    background-color: transparent;
  }
}

.showMenu {
  transform: translateY(0);
  opacity: 1;
}

.site-list__item {
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .site-list__item {
    width: auto;
  }
}

.site-list__link {
  display: block;
  padding: 22px 0 24px;
  border-top: 1px solid #E6E6E6;
  font: normal 500 20px/20px "Oswald";
  text-transform: uppercase;
  color: #000000;
}
.site-list__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.site-list__link:active {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .site-list__link {
    display: inline-block;
    border-top: none;
  }
}
@media (min-width: 1200px) {
  .site-list__link {
    font-weight: 400;
    line-height: 30px;
  }
  .site-list--home .site-list__link {
    color: #ffffff;
  }
  .site-list--home .site-list__link:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  .site-list--home .site-list__link:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.site-list__link--active {
  position: relative;
}
@media (min-width: 768px) {
  .site-list__link--active::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background-color: var(--basic_green);
  }
}
@media (min-width: 1200px) {
  .site-list--home .site-list__link--active::after {
    background-color: #ffffff;
  }
}

@media (min-width: 768px) {
  .main-nav {
    flex-grow: 1;
  }
}

.promo {
  height: auto;
  position: relative;
  margin-bottom: 220px;
}
.promo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../../img/promo-background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 320px;
}
@media (min-width: 768px) {
  .promo {
    margin-bottom: 580px;
  }
  .promo::after {
    content: none;
  }
}
@media (min-width: 1200px) {
  .promo {
    margin-bottom: 284px;
  }
  .promo::after {
    content: "";
    top: -100px;
    max-width: 50%;
    margin-left: auto;
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../../img/promo-background-desktop.jpg);
    height: 694px;
  }
}

.promo__wrapper {
  position: relative;
  z-index: 1;
}
@media (min-width: 1200px) {
  .promo__wrapper {
    width: 50%;
  }
}

.promo__title {
  font: normal 400 36px/36px "Oswald";
  color: #ffffff;
  text-align: center;
  padding: 27px 35px 20px;
}
@media (min-width: 768px) {
  .promo__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    padding-top: 62px;
    padding-left: 117px;
    text-align: left;
  }
}

.promo__slogan {
  font: normal 400 14px/14px "Oswald";
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 5px 60px 164px;
}
@media (min-width: 768px) {
  .promo__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding: 21px 60px 63px 119px;
  }
}

.promo__img {
  position: absolute;
  width: 280px;
  left: 50%;
  top: 110%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .promo__img {
    width: 709px;
    z-index: -1;
    top: 187%;
  }
}
@media (min-width: 1200px) {
  .promo__img {
    width: 552px;
    top: 100%;
    left: 110%;
  }
}

.promo__button {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -206px;
  background-color: var(--basic_green);
  color: #ffffff;
  font: normal 400 14px/18px "Oswald";
  text-transform: uppercase;
  text-align: center;
  padding: 7px 44px;
}
@media (min-width: 768px) {
  .promo__button {
    position: static;
    margin-left: 120px;
    padding: 14px 26px;
  }
}
@media (min-width: 1200px) {
  .promo__button:hover {
    background-color: var(--basic_green-hover);
  }
  .promo__button:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.prime {
  padding-top: 60px;
}
@media (min-width: 1200px) {
  .prime {
    padding-top: 82px;
    display: grid;
    column-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .prime__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.prime__content {
  background-color: var(--basic_grey);
  margin-bottom: 20px;
  padding: 30px 20px 18px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.prime__content::after {
  content: "";
  background: url("../../img/cat_pro.svg") center no-repeat;
  background-size: cover;
  position: absolute;
  width: 67px;
  height: 50px;
  top: 21px;
  left: 22px;
}
@media (min-width: 768px) {
  .prime__content::after {
    width: 268px;
    height: 200px;
    top: 91px;
    right: 28px;
    left: auto;
  }
}
@media (min-width: 1200px) {
  .prime__content::after {
    width: 134px;
    height: 100px;
    top: 47px;
    left: 33px;
    right: auto;
  }
}
@media (min-width: 768px) {
  .prime__content {
    padding: 77px 316px 52px 53px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .prime__content {
    padding: 77px 51px 55px 52px;
    margin-bottom: 71px;
    height: 100%;
  }
}

.prime__content--slim::after {
  background: url("../../img/cat_slim.svg") center no-repeat;
  background-size: cover;
  width: 50px;
  height: 53px;
  top: 24px;
  left: 13px;
}
@media (min-width: 768px) {
  .prime__content--slim::after {
    width: 200px;
    height: 211px;
    top: 81px;
    right: 62px;
    left: auto;
  }
}
@media (min-width: 1200px) {
  .prime__content--slim::after {
    width: 100px;
    height: 106px;
    top: 41px;
    left: 52px;
    right: auto;
  }
}

.prime__content-title {
  font: normal 400 24px/37px "Oswald";
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 29px;
  padding-left: 71px;
}
@media (min-width: 768px) {
  .prime__content-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
    padding-left: 0;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .prime__content-title {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.prime__content-description {
  font: normal 400 14px/18px "Arial";
  color: var(--special_dark-grey);
  padding: 0 13px 23px 0;
  border-bottom: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .prime__content-description {
    border: none;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 33px;
  }
}
@media (min-width: 1200px) {
  .prime__content-description {
    padding-bottom: 23px;
    font-size: 16px;
    line-height: 24px;
  }
}

.prime__content-link {
  display: block;
  padding-top: 19px;
  font: normal 400 16px/16px "Oswald";
  text-transform: uppercase;
  color: #000000;
  position: relative;
  margin-top: auto;
}
.prime__content-link::after {
  content: "";
  position: absolute;
  background-image: url("../../img/arrow-link.svg");
  width: 32px;
  height: 10px;
  left: 100px;
  top: 50%;
  transform: translateY(50%);
}
.prime__content-link:hover::after {
  background-image: url("../../img/arrow-link-hover.svg");
}
.prime__content-link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .prime__content-link {
    font-size: 20px;
    line-height: 30px;
  }
  .prime__content-link::after {
    left: 115px;
  }
}

.advantages {
  padding-bottom: 49px;
}
@media (min-width: 768px) {
  .advantages {
    padding-bottom: 47px;
  }
}

.advantages__title {
  font: normal 400 36px/40px "Oswald";
  color: #000000;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    flex-wrap: nowrap;
  }
}

.advantages__item {
  position: relative;
  margin-bottom: 20px;
}
.advantages__item:last-child {
  margin-bottom: 0;
}
.advantages__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .advantages__item::after {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}
.advantages__item::before {
  content: "";
  position: absolute;
}
@media (min-width: 768px) {
  .advantages__item {
    width: 35%;
    min-height: 280px;
    margin-bottom: 37px;
    margin-right: 10%;
  }
  .advantages__item::before {
    z-index: -1;
    top: 0;
    right: 0;
    font: 400 normal 280px/280px "Oswald";
    color: var(--basic_grey);
  }
}
@media (min-width: 1200px) {
  .advantages__item {
    width: 25%;
    margin-right: 5%;
    margin-bottom: 26px;
  }
  .advantages__item:last-child {
    margin-right: 0;
    margin-bottom: 26px;
  }
}

.advantages__item--leaf::after {
  background: url(../../img/icon_leaf.svg) center no-repeat;
  background-color: var(--basic_green);
}

.advantages__item--tub::after {
  background: url(../../img/icon_tub.svg) center no-repeat;
  background-color: var(--basic_green);
}

.advantages__item--eat::after {
  background: url(../..//img/icon_eat.svg) center no-repeat;
  background-color: var(--basic_green);
}

.advantages__item--alarm::after {
  background: url(../../img/icon_alarm.svg) center no-repeat;
  background-color: var(--basic_green);
}

.advantages__item--leaf::before {
  content: "1";
}

.advantages__item--tub::before {
  content: "2";
}

.advantages__item--eat::before {
  content: "3";
}

.advantages__item--alarm::before {
  content: "4";
}

.advantages__description {
  font: normal 400 14px/18px "Arial";
  color: var(--special_dark-grey);
  padding-left: 80px;
  min-height: 60px;
}
@media (min-width: 768px) {
  .advantages__description {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    padding-top: 151px;
  }
}

.example {
  background: #EAEAEA;
  padding-top: 25px;
}
@media (min-width: 768px) {
  .example {
    padding-top: 43px;
    background: transparent;
    border-top: 1px solid #E6E6E6;
  }
}
@media (min-width: 1200px) {
  .example {
    padding-top: 69px;
    border-top: none;
  }
}

.example__title {
  margin-bottom: 40px;
  font: normal 400 36px/40px "Oswald";
  color: #000000;
}
@media (min-width: 768px) {
  .example__title {
    margin-bottom: 36px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  .example__title {
    margin-bottom: 76px;
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .example__wrapper {
    background: #F2F2F2;
    display: flex;
    flex-direction: row;
    padding: 70px 0 69px;
    position: relative;
  }
}

.example__wrapper .container {
  width: 100%;
}
.example__description {
  font: normal 400 14px/18px "Arial";
  color: var(--special_dark-grey);
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .example__description {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 54px;
  }
}
@media (min-width: 1200px) {
  .example__description {
    padding-bottom: 69px;
    width: 436px;
  }
}

.example__inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  width: 100%;
}
@media (min-width: 768px) {
  .example__inner {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 250px;
  }
}
@media (min-width: 1200px) {
  .example__inner {
    width: 436px;
    margin-bottom: 0;
  }
}

.example__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .example__list {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.example__list-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -16px 20px;
}
@media (min-width: 768px) {
  .example__list-wrap {
    width: 50%;
    margin: 0 0 20px 0;
  }
}
@media (min-width: 1200px) {
  .example__list-wrap {
    width: 100%;
    margin: 0 0 55px 0;
  }
}

.example__item--border {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
  width: 50%;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  position: relative;
}
@media (min-width: 768px) {
  .example__item--border {
    margin: 0 11% 0 0;
  }
}

.example__item--border .example__term {
  font: normal 400 24px/24px "Oswald";
  text-align: center;
  color: #000000;
  padding: 15px;
}
@media (min-width: 768px) {
  .example__item--border .example__term {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item--border .example__definition {
  font: normal 400 12px/100% "Arial";
  color: var(--special_dark-grey);
  text-transform: lowercase;
  text-align: center;
  position: absolute;
  left: auto;
  right: auto;
  top: calc(100% - 5px);
  background-color: #EAEAEA;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .example__item--border .example__definition {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    padding: 0 5px;
  }
}
@media (min-width: 1200px) {
  .example__item--border .example__definition {
    background-color: #F2F2F2;
  }
}

.example__item--cost {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .example__item--cost {
    width: 50%;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (min-width: 1200px) {
  .example__item--cost {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.example__item--cost .example__term,
.example__item--cost .example__definition {
  font: normal 400 14px/20px "Oswald";
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__item--cost .example__term,
  .example__item--cost .example__definition {
    font-size: 20px;
    line-height: 20px;
  }
}

.example__item--cost .example__definition {
  padding-left: 5px;
}
@media (min-width: 768px) {
  .example__item--cost .example__definition {
    padding-top: 9px;
  }
}
@media (min-width: 1200px) {
  .example__item--cost .example__definition {
    padding-top: 0;
    padding-left: 63px;
  }
}

@media (min-width: 768px) {
  .example__slider {
    background: #EAEAEA;
  }
}
@media (min-width: 1200px) {
  .example__slider {
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: 768px) {
  .example__slider .container {
    margin-top: -170px;
  }
}
@media (min-width: 768px) {
  .example__slider .container {
    margin-top: -179px;
  }
}

.slider__switcher {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 40px;
}
.slider__switcher::after {
  position: absolute;
  content: "";
  width: 86px;
  height: 14px;
  border: 1px solid #CDCDCD;
  border-radius: 6px;
  background-color: #ffffff;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .slider__switcher::after {
    width: 426px;
    height: 6px;
    background-color: #DCDCDC;
    border: none;
  }
}
@media (min-width: 768px) {
  .slider__switcher {
    margin-bottom: 55px;
  }
}

.slider__switcher-toggle {
  position: relative;
  width: 36px;
  height: 6px;
  background: var(--basic_green);
  border-radius: 6px;
  z-index: 2;
}
@media (min-width: 768px) {
  .slider__switcher-toggle {
    right: 50%;
    transform: translateX(50%);
    border-radius: 50%;
    border: 13px solid #FFFFFF;
    width: 34px;
    height: 34px;
    background: var(--basic_green);
    cursor: pointer;
    padding: 0;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
  }
}

.slider__input {
  display: none;
}

.slider__toggle {
  position: relative;
  font: normal 400 16px/20px "Oswald";
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .slider__toggle {
    font-size: 20px;
    line-height: 30px;
  }
}
.slider__toggle::before {
  content: "";
  position: absolute;
}
@media (min-width: 768px) {
  .slider__toggle::before {
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #000000;
    border-image: repeating-linear-gradient(to left, transparent, transparent 1px, #000000 1px, #000000 2px) 1;
    opacity: 0.24;
  }
  .slider__toggle::before:hover::after {
    background-image: repeating-linear-gradient(to left, black 1px, black 2px);
    opacity: 1;
  }
}

.slider__toggle-befor {
  margin-right: 56px;
}
@media (min-width: 768px) {
  .slider__toggle-befor {
    margin-right: 226px;
  }
}

.slider__toggle-after {
  margin-left: 56px;
}
@media (min-width: 768px) {
  .slider__toggle-after {
    margin-left: 226px;
  }
}

#toggle-befor:checked ~ .slider__switcher .slider__switcher-toggle {
  left: -18px;
}

#toggle-after:checked ~ .slider__switcher .slider__switcher-toggle {
  right: -21px;
}
@media (min-width: 768px) {
  #toggle-after:checked ~ .slider__switcher .slider__switcher-toggle {
    right: 0;
  }
}

.slider-image {
  position: relative;
  width: 280px;
  height: 232px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .slider-image {
    width: 592px;
    height: 511px;
  }
}

.slider-image__example {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .slider-image__example {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
  }
}

.slider-image__example img {
  width: 100%;
  height: 100%;
  position: absolute;
}
@media (min-width: 768px) {
  .slider-image__example img {
    width: auto;
    height: 100%;
    max-width: none;
  }
}

@media (min-width: 768px) {
  .slider-image__example--befor {
    left: 0;
    display: block;
  }
}

@media (min-width: 768px) {
  .slider-image__example--after {
    right: 0;
    display: block;
  }
}

@media (min-width: 768px) {
  .slider-image__example--befor img {
    top: 0;
    left: 0;
  }
}

@media (min-width: 768px) {
  .slider-image__example--after img {
    top: 0;
    right: 0;
  }
}

#toggle-befor:checked ~ .slider-image .slider-image__example--befor,
#toggle-after:checked ~ .slider-image .slider-image__example--after {
  display: block;
}

#toggle-befor ~ .slider-image .slider-image__example--befor,
#toggle-after ~ .slider-image .slider-image__example--after {
  display: none;
}
@media (min-width: 768px) {
  #toggle-befor ~ .slider-image .slider-image__example--befor,
  #toggle-after ~ .slider-image .slider-image__example--after {
    display: block;
  }
}

.page-footer {
  background-color: var(--basic_grey);
}

.page-footer__contacts {
  position: relative;
}

.contacts__map {
  overflow: hidden;
  position: relative;
  margin-top: 112px;
  height: 362px;
}
.contacts__map::after {
  content: "";
  position: absolute;
  background: url(../../img/map-pin.png) no-repeat center;
  width: 57px;
  height: 53px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
@media (min-width: 768px) {
  .contacts__map::after {
    background: url(../../img/map-pin-tablet.png) no-repeat center;
    width: 113px;
    height: 106px;
  }
}
@media (min-width: 768px) {
  .contacts__map {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .contacts__map {
    margin-top: 0;
  }
}

.contacts__map img {
  object-fit: cover;
}

.contacts .container {
  background-color: #FFFFFF;
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  position: absolute;
  top: -112px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts .container {
    padding: 56px 70px;
  }
}
@media (min-width: 1200px) {
  .contacts .container {
    padding: 56px 80px;
    width: 565px;
    top: 95px;
    left: 110px;
  }
}

.contacts__text {
  font: normal 400 16px/20px "Oswald";
  color: #111111;
  text-transform: uppercase;
  margin-right: 2px;
  width: 50%;
}
@media (min-width: 768px) {
  .contacts__text {
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    margin-right: 148px;
  }
}
@media (min-width: 1200px) {
  .contacts__text {
    margin-right: 43px;
  }
}

.contacts__address {
  font: normal 400 14px/20px "Arial";
  color: var(--special_dark-grey);
  width: 50%;
}
@media (min-width: 768px) {
  .contacts__address {
    font-size: 16px;
    text-align: right;
    margin-left: 148px;
  }
}
@media (min-width: 1200px) {
  .contacts__address {
    text-align: left;
    margin-left: 43px;
  }
}

.page-footer__social .container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-footer__social .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 55px;
  }
}

.social__logo {
  display: flex;
  justify-content: center;
  padding: 39px 76px 32px;
}
.social__logo img {
  width: 128px;
  height: 24px;
}
@media (min-width: 768px) {
  .social__logo {
    padding: 0;
  }
  .social__logo:hover {
    opacity: 0.8;
  }
  .social__logo:active {
    opacity: 0.6;
  }
}

.social__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 77px 21px 73px;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .social__list {
    border-top: none;
    border-bottom: none;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .social__link-vk svg {
    width: 30px;
    height: 22px;
  }
}

@media (min-width: 768px) {
  .social__link-instagram svg {
    width: 23px;
    height: 23px;
    margin-left: 27px;
    margin-right: 21px;
  }
}

@media (min-width: 768px) {
  .social__link-fb svg {
    width: 28px;
    height: 33px;
  }
}

.social__link-vk:hover svg,
.social__link-instagram:hover svg,
.copyright__link:hover svg {
  fill: var(--basic_green);
}

.social__link-vk:active svg,
.social__link-instagram:active svg,
.copyright__link:active svg {
  fill: var(--basic_green);
  opacity: 0.3;
}

.social__link-fb:hover svg {
  stroke: var(--basic_green);
}

.social__link-fb:active svg {
  stroke: var(--basic_green);
  opacity: 0.3;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  font: normal 400 16px/18px "Arial";
  color: var(--special_dark-grey);
}
@media (min-width: 768px) {
  .copyright__link {
    padding: 0;
  }
  .copyright__link:hover {
    opacity: 0.8;
  }
  .copyright__link:active {
    opacity: 0.6;
  }
}

@media (min-width: 768px) {
  .copyright__link svg {
    margin-left: 22px;
  }
}
/*# sourceMappingURL=style.css.map */